* {
  margin: 0;
  padding: 0;
}

.canvas {
  z-index: 99;
}

.frog {
  display: inline-block;
  width: 10vw;
  padding: 0 .5em;
}

li img {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

ul {
  position: relative;
  text-align: center;
  padding-top: 25vw;
  min-width: 700px;
}

#background {
  position: fixed;
  width: 100vw;
  height: auto;
  z-index: -1;
}

button {
  padding: 10px 15px;
  border-radius: 30px;
  background: green;
  border: none;
  font-size: 2em;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: lightgreen;
}

.buttons {
  margin: 6vw;
}