table {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}

thead, th, td {
    height: 70px;
    text-align: center;
}

tr {
    padding: 10px;
    margin-left: 15px;
    text-align: left;
}

table, thead, td, th {
    border: 1px solid black;
}

input {
    background-color: none;
    text-align: center;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.hidden {
    display: none;
}

.table-answers {
    height: 100%;
}

.table-solution {
    width: 50%;
}

#table-container {
    margin-top: 50px;
    padding-top: 50px;
}

#table-button-container {
    padding-top: 20px;
    margin-left: 10%;
    width: 25%;
}

#submit-table-button {
    float: left;
}

#show-solutions {
    margin-left: 20px;
}

